<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AppAnimal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="ligth">
  <ion-card class="welcome-card">
    <img src="../assets/imagens/download.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="font-size: 40px;
        ">Abrigo de Animais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p >Saia da rotina e adote um amigo para trazer mais alegria e brincadeiras ao seu dia a dia, aqui no abrigo de animais 
        você vai encontrar vários amiguinhos que só precisam de uma oportunidade, só precisam de você!  </p>
    </ion-card-content>
  </ion-card>

  
  
  <ion-button expand="block"  color="tertiary" routerLink="/login"> Já sou Cadastrado</ion-button>
  
</ion-content>
<!--npm i @angular/fire
npm install firebase@~5.4.2-->