<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AppFish
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="ligth">
  <ion-card class="welcome-card">
    <img src="../assets/imagens/pesca.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="font-size: 40px;
        ">Clube da Pesca</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p >O Club da Pesca, é uma loja de pesca especializada para você cliente, 
        visando sempre disponibilizar produtos de alta qualidade, durabilidade e diferenciados nessa incrivel
      plataforma feita especialmente pra você. </p>
    </ion-card-content>
  </ion-card>

  
  
  <ion-button expand="block"  color="secondary" routerLink="/login"> Já sou Cadastrado</ion-button>
  
</ion-content>
<!--npm i @angular/fire
npm install firebase@~5.4.2-->